.container{
    padding: 100px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    width: 100%;
}


.list{
    display: block;
    margin: 0 auto;
    width: 60%;
}